<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Carousel component</title>
  </head>
  <body>
    <div class="carousel">
      <img src="../maria.jpg" alt="Maria" />
      <blockquote class="testimonial">
        <p class="testimonial-text">
          "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
          facilis, doloremque nihil voluptates, voluptas eius assumenda, animi
          et cumque similique eligendi nam aliquid? Molestias animi voluptate
          corporis vero? Dolorum, corporis."
        </p>
        <p class="testimonial-author">Maria De Almeida</p>
        <p class="testimonial-job">Senior Software Engineer at Amazon.</p>
      </blockquote>

      <button class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <button class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>
  </body>
  <script src="./script.js"></script>
</html>
