<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Hero section</title>
  </head>
  <body>
    <header>
      <nav class="container">
        <div>LOGO</div>
        <div>NAVIGATION</div>
      </nav>

      <div class="container">
        <h1>A healthy meal delivered to your door, every single day</h1>
        <p>
          The smart 365-days-per-year food subscription that will make you eat
          healthy again. Tailored to your personal tastes and nutritional needs.
        </p>
        <a href="#" class="btn">Start eating well</a>
      </div>
    </header>

    <!-- Sub sections -->
    <section>
      <div class="container">
        <h2>Some heading</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam fuga
          excepturi neque. Debitis voluptates quaerat, laborum inventore
          dignissimos eos nemo ipsa libero ducimus sed. Perferendis, itaque
          facilis cum, possimus suscipit modi dolore, consequatur magnam soluta
          molestiae doloremque numquam dolorum ipsum porro impedit repellendus
          quas odio unde sequi aliquid ratione. Facilis.
        </p>
      </div>
    </section>
  </body>
</html>
